

.create-contest-container{
  width: 100vw;
  height: 100vh; 
  background-image: url('../../assets/hero-2.png');

}

.create-contest {
  background-repeat: no-repeat;
  background-color: #111b26;
  background-position: bottom;
  display: flex
;
  height: 100vh;
  justify-content: center;
  display: flex
;
  align-items: center;
}


