

.create-contest-container{
  width: 100vw;
  height: 100vh; 
  background-image: url('../../assets/hero-2.png');

}

.create-contest {
  /* background-size: 32%; */
  background-repeat: no-repeat;
  background-color: #141e2b;
  background-position: bottom;
  display: flex;
 justify-content: flex-end;
}


